* {
    padding: 0;
    margin: 0;
}

body {
    background: #f6f7f8;
}

:root {
    --font-color: #242b3b;
    --icon-color: #465368;
}

.link-style {
    text-decoration: none;
}

.icon-wrapper {
    padding: 8px;
    background: #eff3f7;
    font-size: 15px;
}

.icon-box {
    width: 40px;
    height: 40px;
    color: var(--icon-color);
}

.link-box {
    background: #ffffff;
    padding: 10px 15px;
    border-radius: 10px;
}

.box-details {
    color: var(--font-color)
}

.container {
    max-width: 500px !important;
}

.user-image {
    width: 80px;
    height: 80px;
}

.creteuserform {
    background: #fff;
    border-radius: 10px;
}

.creteuserform label {
    margin-bottom: 10px;
}

.submit-btn {
    border-radius: 0;
    background: #137fec;
    border: 0px;
    width: 100%;
    margin-top: 8px;
}

.profile-pic-preview {
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin: auto;
    margin-bottom: auto;
    display: block;
    border: 1px solid #cecece;
    border-radius: 7px;
    margin-bottom: 15px;
}

.user img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.user p {
    margin-bottom: 5px;
}

.users-table th,
.users-table td {
    vertical-align: middle;
}